.stick {
  position: fixed;
}
.hidden {
  display: 'none';
}
.sliderBlock {
  display: flex !important;
}

.main-slider .slide {
	position: relative;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: none;
  height: 100%;
}


